.main-block {
    margin: 0 70px 0 70px;
}

.card-main-text {
    padding-left: 10%;
}

.card-model {
    font-size: 1.5rem;
}

.card-type {
    font-size: 1.2rem;
}

.card-appliance-description {
    font-size: 1.15rem;
    margin-top: 15px;
}

.card-appliance-description > p {
    margin-top: 25px;
}
.card-table {
    margin-top: 30px;
}

.card-table > table {
    border: 1px solid #939598
}

.card-table > table > tbody> tr {
    border: 1px solid #939598
}

.card-table > table > tbody> tr > td {
    width: 40%;
    font-weight: bold;
    border: 1px solid #939598;
    padding: 5px;
}

.model {
    max-height: 500px;
    margin-top: 40px;
}

.card-image > img:first-child {
    max-height: 300px;
    width: auto;
}

@media (min-width: 1200px) {

}

@media (max-width: 1200px) {
    .card-image {
        display: flex;
        justify-content: space-between;
    }

    .main-container {
        margin-top: 20px;
        text-align: center !important;
    }

    .model {
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    .card-image {
        text-align: center;
        display: inline-block;
    }

    .card-image > img {
        display: block;
    }
}

@media (max-width: 576px) {
    .model {
        margin-left: 30%;
        margin-right: 22%;
        height: 400px;
        width: auto;
    }

    .card-image > img:first-child {
        margin-bottom: 40px;
        margin-left: 22%;
        margin-right: 22%;
        max-height: 150px;
        width: auto;
    }

    .card-image > img {
        max-height: 150px;
    }

    .main-block {
        margin: 0;
    }
}