@font-face {
    font-family: "Triumph Tippa";
    src: url("./fonts/triumphTippa.ttf") format("woff2")
}

* {
    margin: 0 .5rem 0;
    padding: 0;
    font-family: 'Triumph Tippa', sans-serif;
}

.enter {
    margin-left: 2.5rem;
}