@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 200px 0 200px;
}

/* .header-per {
  background-color: #e0f6ff;
  margin: 0;
} */

 /* Header */
 header, nav, .main, .production {
  margin: 0 100px 0 100px;
}

header {
  justify-content: space-between;
}

.header-logo {
  display: flex;
}

.frontier-logo {
  width: 70%;
}

.heathouse-logo {
  display: inline-block;
  height: 100%;
  max-width: 100%;

}

.header-main-text {
  font-size: 25px;
}

.header-info {
  margin-top: 40px;
}

.info-for-mobile {
  display: none;
}

.telephone {
  font-size: 25px;
}

.schedule, .email, .address {
  font-size: 18px;
}

/*  Menu */

.menu-button {
  margin: auto;
  margin-left: 1em;
  margin-right: -1em;
}

.menu-button > button {
  padding: 15px 60px;
  margin-left: -1em !important;
}

/* Main */

.main {
  margin-top: 50px;
}

/* News */

.card {
  cursor: pointer;
}

.news {
  border: 1px solid black;
  max-height: 530px;
  /* max-width: 550px; */
  /* margin: auto; */
  overflow-x: auto;
}

.card-header {
  text-decoration: none;
}

/* Production */

.production {
  margin-top: 50px;
}

.card > img {
  width: 60%;
  margin: auto;
}

/* .card {
  position:relative;
padding-bottom:50px;
}

.card-body {
  
  margin-top: 50px;
} */

.product {
  margin-top: 20px;
}

/* Footer */

footer {
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 20px;
}

@media (min-width: 1200px) {
  header, .production, .news, .header-main-text {
    margin: 0 100px 0 100px;
  }
  
  .frontier-logo {
    max-width: 100%
  }

  .header-main-text {
    font-size: 23px;
  }

  .menu-button > button {
    padding: 15px 70px !important;   
  }

  nav {
    margin-bottom: 50px;
  }

  .menu-button > button {
    padding: 15px 50px !important;
  }

  .news {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .production > .card > img {
    position:relative;
    padding-bottom:100px;
  }

  .production > .card-body {
    position: absolute;
    bottom: 0px;
  }

  .th0023 {
    margin-top: 30px; 
    margin-bottom: 50px; 
    width: 70%;
  }

  .tm848 {
    width: 48%;
  }
}

@media (max-width: 1200px) {
  header, nav, .main, .production, .news, .header-main-text {
    margin: 0 50px 0 50px;
  }

  .header-main-text {
    margin-top: 10px;
    font-size: 22px;
  }

  .header-info {
    margin-top: 30px;
  }

  .telephone {
    font-size: 30px;
  }

  nav {
    margin-left: 100px;
    margin-bottom: 50px;
  }

  .news {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  header, .main, .production, .news, .header-main-text {
    margin: 0 20px 0 20px;
  }

  .header-logo {
    margin: auto;
  }

  .header-info {
    display: none;
  }

  .header-main-text {
    text-align: center !important;
    margin-top: 30px;
  }

  .info-for-mobile {
    display: inline;
  }

  nav {
    margin-left: 70px;
  }

  .telephone-mobile {
    font-size: 30px;
    margin-top: 20px;
  }

  .email-mobile, .schedule-mobile, .address-mobile {
    font-size: 18px;
  }

  .news {
    margin-top: 20px;
  }
} 

@media (max-width: 768px) {

  .header-info {
    display: none;
  }

  .info-for-mobile {
    display: inline;
  }

  .telephone-mobile, .email-mobile, .schedule-mobile, .address-mobile {
    font-size: 20px;
  }

  .news {
    font-size: 15px;
  }

}

@media (max-width: 576px) {
  header, .main, .production {
    margin: 0 16px 0 16px;
  }

  .frontier-logo {
    margin: auto;
  }

  .heathouse-logo {
    margin: auto;
  }

  .header-main-text {
    font-size: 17px;
  }
  
  .telephone-mobile {
    font-size: 25px;
  }

  .email-mobile, .schedule-mobile, .address-mobile {
    font-size: 15px;
  }

  .news {
    font-size: 12px;

  }
}