block footer
    footer.page-footer.font-weightnormal.bg-secondary
        .lang-banner.d-flex.justify-content-center.pt-5
            button(type="button", class="btn btn-dark lang-ru mr-3", onclick="new Internalisation('ru')") RU 
            button(type="button", class="btn btn-dark lang-en", onclick="new Internalisation('en')") EN
        .footer-copyright.text-center.py-3 2021
            #createdBy Created by Savva Povetkin