section
    #projects
        .projects-header
            .projects-text.d-flex.justify-content-center#projectsText Projects
        .projects-body.mt-5
            .project.row.pb-5.justify-content-between
                include ./card.pug
                

