@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0 200px 0 200px;
  }

.frontier-text {
    font-family: 'Roboto', sans-serif;
    
}

@media (min-width: 1200px) {
    

    .frontier-text {
        font-size: 15px;
    }
}