.dialog-box {
    margin-top: 4rem;
    height: 40rem;
    border: 1px solid black;
    position: relative;
}

.messages {
    position:absolute;
    bottom:0;
    right:0;
    margin-right: 1rem;
}

.message {
    font-size: 2rem;
}

.input-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}